<h1>Lista użytkowników</h1>
<% @users.each do |user| %>
  id <%= user.id %><br> 
  email: <%= user.email %><br>
  <%= link_to 'Usuń użytkownika', user, :confirm => 'Jesteś pewien?', :method => :delete%>
  <%= link_to 'Pokaż', user %>
  <br><br>
<% end %>