<div id="middle_cont">
<h2>Twoje konto</h2>
Username: <%= @user.username %><br>
E-mail: <%= @user.email %><br>
Kasa: <%= @user.gold %>
<br><br>

<%= link_to "Twoje zakłady", user_bets_path(@user) %>  
</div>