<div id="site_title">Zaproponuj pojedynek</div>
<div id="middle_cont">

    <div id="site_desc">
        W tym miejscu możesz zasugerować nam pojedynek który możemy dodać do listy.
        Aby pojedynek został dodany, wypełnij poniższą formułkę.
        Podaj najważniejsze dane takie jak drużyny/graczy, dokładną datę oraz stronę na której jest oficjalnie potwierdzony ten pojedynek.
        Na stronie musi być możliwość sprawdzenia wyniku pojedynku po jego zakończeniu.
    </div>

<%= render 'form' %>

<%= link_to 'Wróć', :controller => :home, :action => :index %>

</div>